body {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}
.footer {
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #ccc;
}
.sitefooter {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1000px;
    margin: 0 auto;
}
.contentinfo {
    margin-top: 35px;
    width: 100%;
}
.list {
    width: 16.6%;
    float: left;
}
.ml {
    margin-left: 8.3%;
}
.list ul {
    margin-top: 16px;
    list-style: none;
    padding-left: 0;
}
.list li {
    margin-bottom: 4px;
}
.list li a {
    text-decoration: none;
    color: #767676;
}
.mg {
    margin-top: 16px;
}
.ba {
    clear: both;
    border-top: 1px solid #ccc;
}
